.action {
    max-width: 300px;
    min-width: 300px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    min-height: 200px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
}

/* Style du tableau */

.tableau-style{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 100px auto;
    border-right: 2px solid #1C1C25;
    border-left: 2px solid #1C1C25;
}

table{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}


thead tr {
    background-color: #1C1C25;
    color: #fff;
    text-align: center;
}

th, td {
    padding: 15px 20px;
}

tbody tr, td, th {
    border: 1px solid #919198;
}

/* Permet de créer un tableau zébré */
tbody tr:nth-child(even){
    background-color: f3f3f3;
}

/* Permet de mettre un border que sur la dernière ligne du tableau */

tbody tr:last-of-type{
    border-bottom: 2px solid #1C1C25;
}